<!-- {{momentary.maxGUICurrent }} -->
<div class="container">
    <div class="row">

        <div class="col-md-12 col-lg-6 col-xl-6">
            <div class="card">
                <h5 class="card-header">Power</h5>
                <div class="card-body">
                    <div class="card-text">
                        <plotly-plot [data]="powertotalgraph.data" [layout]="powertotalgraph.layout" [updateOnDataChange]="true" [useResizeHandler]="true" [style]="{position: 'relative', width: '100%', height: '100%'}" divId="embeddingsPlot">
                        </plotly-plot>
                    </div>
                    <div class="card-text">
                        <div class="cardtiler33">
                            <p>Phase 1:</p>
                            <p>{{momentary.power1 | number:'1.2-2' : 'de-DE'}} W</p>
                        </div>
                        <div class="cardtiler33">
                            <p>Phase 2:</p>
                            <p>{{momentary.power2 | number:'1.2-2' : 'de-DE'}} W</p>
                        </div>
                        <div class="cardtiler33">
                            <p>Phase 3:</p>
                            <p>{{momentary.power3 | number:'1.2-2' : 'de-DE'}} W</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-6">
            <div class="card">
                <h5 class="card-header">Current</h5>
                <div class="card-body">
                    <div class="card-text">
                        <plotly-plot [data]="currentgraph.data" [layout]="currentgraph.layout" [updateOnDataChange]="true" [useResizeHandler]="true" [style]="{position: 'relative', width: '100%', height: '100%'}" divId="embeddingsPlot">
                        </plotly-plot>
                    </div>
                    <div class="card-text">
                        <div class="cardtiler25">
                            <p>Phase 1:</p>
                            <p>{{momentary.current1 | number:'1.2-2' : 'de-DE'}} A</p>
                        </div>
                        <div class="cardtiler25">
                            <p>Phase 2:</p>
                            <p>{{momentary.current2 | number:'1.2-2' : 'de-DE'}} A</p>
                        </div>
                        <div class="cardtiler25">
                            <p>Phase 3:</p>
                            <p>{{momentary.current3 | number:'1.2-2' : 'de-DE'}} A</p>
                        </div>
                        <div class="cardtiler25">
                            <p>Phase 4:</p>
                            <p>{{momentary.current4 | number:'1.2-2' : 'de-DE'}} A</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <h5 class="card-header">Liveview</h5>

                <div class="nav nav-tabs" id="nav-tab" role="tablist">

                    <a class="nav-item nav-link active" id="nav-power-tab" data-toggle="tab" href="#nav-power" role="tab" aria-controls="nav-power" aria-selected="true">Power</a>
                    <a class="nav-item nav-link" id="nav-current-tab" data-toggle="tab" href="#nav-current" role="tab" aria-controls="nav-current" aria-selected="false">Current</a>
                    <a class="nav-item nav-link" id="nav-voltage-tab" data-toggle="tab" href="#nav-voltage" role="tab" aria-controls="nav-voltage" aria-selected="false">Voltage</a>
                    <a class="nav-item nav-link" id="nav-cosphi-tab" data-toggle="tab" href="#nav-cosphi" role="tab" aria-controls="nav-current" aria-selected="false">CosPhi</a>
                    <a class="nav-item nav-link" id="nav-frequency-tab" data-toggle="tab" href="#nav-frequency" role="tab" aria-controls="nav-frequency" aria-selected="false">Frequency</a>

                </div>

                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade show active" id="nav-power" role="tabpanel" aria-labelledby="nav-power-tab">

                        <div class="card-body">
                            <div class="card-text">
                                <plotly-plot [data]="powerlinechart.data" [layout]="powerlinechart.layout" [useResizeHandler]="true" [style]="{position: 'relative', width: '100%', height: '100%'}" divId="powerlinechart"></plotly-plot>
                            </div>
                            <div class="card-text">
                                <div class="cardtiler25">
                                    <p>Power Total:</p>
                                    <p>{{momentary.powerTotal | number:'1.2-2' : 'de-DE'}} W</p>
                                </div>
                                <div class="cardtiler25">
                                    <p>Power 1:</p>
                                    <p>{{momentary.power1 | number:'1.2-2' : 'de-DE'}} W</p>
                                </div>
                                <div class="cardtiler25">
                                    <p>Power 2:</p>
                                    <p>{{momentary.power2 | number:'1.2-2' : 'de-DE'}} W</p>
                                </div>
                                <div class="cardtiler25">
                                    <p>Power 3:</p>
                                    <p>{{momentary.power3 | number:'1.2-2' : 'de-DE'}} W</p>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="tab-pane fade" id="nav-current" role="tabpanel" aria-labelledby="nav-current-tab">

                        <div class="card-body">
                            <div class="card-text">
                                <plotly-plot [data]="currentlinechart.data" [layout]="currentlinechart.layout" [useResizeHandler]="true" [style]="{position: 'relative', width: '100%', height: '100%'}" divId="currentlinechart"></plotly-plot>
                            </div>
                            <div class="card-text">
                                <div class="cardtiler25">
                                    <p>Current 1:</p>
                                    <p>{{momentary.current1 | number:'1.2-2' : 'de-DE'}} A</p>
                                </div>
                                <div class="cardtiler25">
                                    <p>Current 2:</p>
                                    <p>{{momentary.current2 | number:'1.2-2' : 'de-DE'}} A</p>
                                </div>
                                <div class="cardtiler25">
                                    <p>Current 3:</p>
                                    <p>{{momentary.current3 | number:'1.2-2' : 'de-DE'}} A</p>
                                </div>
                                <div class="cardtiler25">
                                    <p>Current 4:</p>
                                    <p>{{momentary.current4 | number:'1.2-2' : 'de-DE'}} A</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="nav-voltage" role="tabpanel" aria-labelledby="nav-voltage-tab">

                        <div class="card-body">
                            <div class="card-text">
                                <plotly-plot [data]="voltagelinechart.data" [layout]="voltagelinechart.layout" [useResizeHandler]="true" [style]="{position: 'relative', width: '100%', height: '100%'}" divId="voltagelinechart"></plotly-plot>
                            </div>
                            <div class="card-text">
                                <div class="cardtiler33">
                                    <p>Voltage 1:</p>
                                    <p>{{momentary.voltage1 | number:'1.2-2' : 'de-DE'}} V</p>
                                </div>
                                <div class="cardtiler33">
                                    <p>Voltage 2:</p>
                                    <p>{{momentary.voltage2 | number:'1.2-2' : 'de-DE'}} V</p>
                                </div>
                                <div class="cardtiler33">
                                    <p>Voltage 3:</p>
                                    <p>{{momentary.voltage3 | number:'1.2-2' : 'de-DE'}} V</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="nav-cosphi" role="tabpanel" aria-labelledby="nav-cosphi-tab">

                        <div class="card-body">
                            <div class="card-text">
                                <plotly-plot [data]="cosphilinechart.data" [layout]="cosphilinechart.layout" [useResizeHandler]="true" [style]="{position: 'relative', width: '100%', height: '100%'}" divId="cosphilinechart"></plotly-plot>
                            </div>
                            <div class="card-text">
                                <div class="cardtiler33">
                                    <p>CosPhi 1:</p>
                                    <p>{{momentary.cosphi1 | number:'1.2-2' : 'de-DE'}}</p>
                                </div>
                                <div class="cardtiler33">
                                    <p>CosPhi 2:</p>
                                    <p>{{momentary.cosphi2 | number:'1.2-2' : 'de-DE'}}</p>
                                </div>
                                <div class="cardtiler33">
                                    <p>CosPhi 3:</p>
                                    <p>{{momentary.cosphi3 | number:'1.2-2' : 'de-DE'}}</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="nav-frequency" role="tabpanel" aria-labelledby="nav-frequency-tab">

                        <div class="card-body">
                            <div class="card-text">
                                <plotly-plot [data]="frequencylinechart.data" [layout]="frequencylinechart.layout" [useResizeHandler]="true" [style]="{position: 'relative', width: '100%', height: '100%'}" divId="frequencylinechart"></plotly-plot>
                            </div>
                            <div class="card-text">
                                <div class="cardtiler33">
                                    <p>Frequency 1:</p>
                                    <p>{{momentary.frequency1 | number:'1.2-2' : 'de-DE'}} Hz</p>
                                </div>
                                <div class="cardtiler33">
                                    <p>Frequency 2:</p>
                                    <p>{{momentary.frequency2 | number:'1.2-2' : 'de-DE'}} Hz</p>
                                </div>
                                <div class="cardtiler33">
                                    <p>Frequency 3:</p>
                                    <p>{{momentary.frequency3 | number:'1.2-2' : 'de-DE'}} Hz</p>
                                </div>
                            </div>
                        </div>

                    </div>





                </div>
            </div>

        </div>
    </div>